{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Embaixada Sorocaba</h1>
    <p class="lead">Compartilhando experiências e conhecimentos sobre empreendedorismo</p>
    <p><a href="https://www.meusucesso.com/" class="btn btn-primary btn-large">Meu Sucesso &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reuniões Semanais</h2>
        <p>
            Com o propósito de compartilhar conhecimento e iniciativas de empreendedorismo
        </p>
        <p><a class="btn btn-default" href="#">Aprenda Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Faça!</h2>
        <p>O momento é agora!.</p>
        <p><a class="btn btn-default" href="#">Aprenda Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aprenda e Ensine</h2>
        <p>Ajude outras pessoas compartilhando se conhecimento, quanto mais você ensina mais aprenderá!.</p>
        <p><a class="btn btn-default" href="#">Aprenda Mais &raquo;</a></p>
    </div>
</div>

{% endblock %}
